#top_banner {
    padding-left: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgb(99, 99, 168);
}
.top_menu_frist {

}
.top_menu_frist h1{

}
.top_menu_frist h1 a{
    float: left;
}
.top_menu_frist nav{

}

.top_menu_frist nav ul li{
float: left;
list-style: none;
}