body{
    margin: 0;
    font-family: 'Source Sans Pro';
}
a{
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(38, 128, 163);
    padding: 8px 12px;
}

.navbar_logo{
    font-size: 24px;
    color: rgb(192, 72, 64);
}

.navbar_logo i {
     color: bisque;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li:hover {
    background-color: rgb(61, 182, 146);
    border: radius 4px;;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_icons {
    padding: 12px;
    display: flex;
    list-style: none;
}

.navbar_icons li {
    padding: 8px 12px;
}
@media screen and (max-width:768px){
    .navbar {
        flex-direction: column;
    }
}
.top_menu {
    background-color: rgb(122, 122, 156);
    color: black;
    padding: 0px 0px 0px 10px;
    width: 60px;
}
.menu_list {
    list-style: none;
    margin: 0px;
    background-color: rgb(122, 122, 156);
    padding: 10px 10px 10px 10px;
    width: 50px;
}